@font-face {
  font-family: "Futura";
  src: url("./assets/fonts/FuturaPTBook.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Futura";
  src: url("./assets/fonts/FuturaPTDemi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Futura";
  src: url("./assets/fonts/FuturaPTHeavy.woff") format("woff");
  font-weight: 800;
}

body {
  margin: 0;
  font-family: "Futura", "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
